[submodule "thirdparty/json11"]
	path = thirdparty/json11
	url = https://github.com/dropbox/json11
[submodule "thirdparty/amqpcpp"]
	path = thirdparty/amqpcpp
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP.git
